<% if (data.status && data.status.statusCode) { %>
<div
  id="awardModal"
  class="flex align-center align-vert modal modal--align modal--show"
>
  <div class="modal__container">
    <form method="GET" action="/hideModal">
      <a
        class="modal__close modal__close--x"
        href="/hideModal"
        aria-hidden="true"
        >✕</a
      >
      <p>
        Although we have an 'X' to close we should always have a button/link to
        cancel the modal
      </p>
      <div
        style="
          <% if (data.status.statusCode === 'SUCCESS') { %>
            background-color: green
          <% } else { %>
            background-color: red
          <% } %>
        "
      >
        <%= data.status.statusCode %>::<%= data.status.statusMessage %>
      </div>
      <button class="modal__close" type="submit">Cancel link</button>
    </form>
  </div>
</div>
<% } %>

<!-- ======= Hero Section ======= -->

<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 text-center">
        <h1>Capgemini</h1>
        <h2>Awards and Recognition Program</h2>
      </div>
    </div>
    <div>
      &nbsp;
    </div>

    <div class="row icon-boxes">
      <% if(data.awards.length > 0 ) { %> <% data.awards.forEach(award => { %>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon text-center">
            <i class="ri-medal-fill <%=award.awardType %>"></i>
          </div>
          <h4 class="title"><a href="">Game Changer</a></h4>
          <p class="description">
            Voluptatum deleniti atque corrupti quos dolores et quas molestias
            excepturi
          </p>
          <form id="form-<%=award.id %>" method="POST" action="/send-email" novalidate>
            <div class="form-row align-items-center">
              <div class="col-auto">
                <input
                  type="hidden"
                  name="awardId"
                  id="awardId"
                  value="<%=award.id %>"
                />
              </div>
              <div class="col-auto">
                <div class="input-group mb-2">
                  <label class="sr-only" for="recipientEmailAddress"
                    >Select a recipient</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    name="recipientEmailAddress"
                    id="recipientEmailAddress"
                    list="recipientList"
                  />
                  <% if (data.recipientList.length > 0) { %>
                  <datalist id="recipientList">
                    <% data.recipientList.forEach(recipient => { %>
                    <option value="<%=recipient.email%>"
                      ><%= recipient.fName%></option
                    >
                    <% }) %>
                  </datalist>
                  <% } %>
                  <div class="input-group-append">
                    <button id="<%=award.id %>" class="sendEmailBtn btn btn-outline-secondary" type="submit">
                      <i
                        class="ri-send-plane-fill"
                        style="color: #2487ce; font-size: 0.8rem;"
                      ></i>
                    </button>
                  </div>
                </div>
              </div>

              <!-- <input
                    class="form-check-input"
                    type="radio"
                    id="<%=award.id %>" 
                    value="<%=award.id %>" 
                    name="awardId"
                    <% if(award.isSentEmail) { %>
                      disabled 
                    <% } %>
                  />
                  <label class="form-check-label" for="<%=award.id %>"></label> -->
            </div>
          </form>
        </div>
      </div>
      <% }) %> <% } %>
    </div>
  </div>
</section>
<!-- Modal -->
<div id="myModal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End Hero -->
